.sidebar{
    &__content{
        font-family: 'Source Sans Pro', sans-serif;
    }
    background-color: $sidebarbg;
    width: 17.5%;
    border-radius: 15px;
    padding: 30px 18px;
    &__hamburger{
        margin-bottom: 30px;
    }
    &__hamburgerBtn{
        text-align: start;
    }
    &__firstSteps{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    &__firstStepsHeading{
        font-weight: 600;
        font-size: 14px;
        margin-block-end: 0;
        margin-block-start: 0.5em;
    }
    &__firstStepsDesc{
        vertical-align: middle;
        margin-block-start: 0.5em;
        font-size: 13px;
        color: $desctextcolor;
    }
    &__firstStepsDesc > span{
        display: block;
        text-align: center;
    }
    &__firstStepsGetStarted{
        font-size: 13px;
        font-weight: 600;
        margin-block-start: 0;
        color: $getstartedcolor;
        margin-block-end: 3em;
    }
    &__profile{
        display: flex;
        border-top: 1px solid $bordercolor;
    }
    &__profilePicture > img{
        width: 50px;
        border-radius: 50%;
        margin-top: 20px;
        margin-right: 10px;
    }
    &__profileName{
        margin-top: 27px;
        font-size: 14px;
        font-weight: 600;
        margin-block-end: 0;
    }
    &__profileRole{
        margin-block-start: 0.1em;
        font-size: 14px;
        color: $desctextcolor;
    }
}