$bodybg : #BFD7D9;
$sidebarbg : white;
$textcolor : #071232;
$iconcolor : #9CA8BA;
$iconclickedcolor : #4CA6A8;
$buttonclickedcolor : #E4F3F4;
$desctextcolor : #A0ACBD;
$bordercolor : #EBEBEB;
$getstartedcolor : #4CA6A8;